{% extends "base.html" %}
{% block title %}
About
{% endblock title %}

{% block  body%}

      <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About</h2>
          <p style="font-size: 25px;">I am a confident, optimistic person with good leadership qualities and can mingle easily with different groups of people. I love to work hard with honesty and enthusiasm</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
              <img src="/static/assets/img/mypic6.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 content">
              <h2>Senior Safety Data Management Specialist &amp; Machine Learning Engineer</h2>
              <br>
              <br>
              <div class="row">
                <div class="col-lg-6" style="font-size: 20px;">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 May 1987</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.vtrlearning.com</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9342162117</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kanchipuram, TamilNadu, India</span></li>
                  </ul>
                </div>
                <div class="col-lg-6" style="font-size: 20px;">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>37</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master Of Pharmacy</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>vtr.machinelearning@gmail.com</span></li>
                    <br>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  </ul>
                </div>
              </div>
              <p class="py-3">
                Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
              </p>
            </div>
          </div>
  
        </div>
  
      </section><!-- /About Section -->
{% endblock body %}

