{% extends "base.html" %}
{% block title %}
Resume
{% endblock title %}

{% block  body%}
<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      
      <h2>Resume<a href="/static/asset/myresume.pdf"> View or Download</a></h2>
      <p style="font-size: 18px">To strive for Excellence in the field of Pharmacovigilance with dedication, focus, proactive approach, positive attitude, and passion to utilize my knowledge and skills in the best possible way for the full fulfillment of organizational goals.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Logidhasan, Logan</h4>
            <p style="font-size: 18px">As a Senior Drug Safety Management Specialist at Pfizer Inc., I have gained over 5 years of experience in the Pharmacovigilance field and have a total of 10+ years of experience</p>
            
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Pharmacy (Pharmaceutics)</h4>
            <h5>2011  - 2013</h5>
            <p><em>PGP College of Pharmaceutical science and Research Institution, Namakkal</em></p>
            
           
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Bachelor of Pharmacy </h4>
            <h5>2007  - 2010</h5>
            <p><em>Pallavan Pharmacy College, Kanchipuram
                </em></p>
           
          </div><!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>Diploma in Pharmacy </h4>
            <h5>2004  - 2006</h5>
            <p><em>SRM College of Pharmacy, Chennai
                </em></p>
           
          </div><!-- Edn Resume Item -->
          <div class="resume-item">
          <h4>IIT-M - Artificial Intelligence and Machine Learning </h4>
          <h5>Oct-2023  - Jun-2024</h5>
          <p><em>IIT-M GUVI, Chennai
              </em></p>
         
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior Safety Data Management Specialist, Operations</h4>
            <h5>Apr 2018 - Present</h5>
            <p><em>Pfizer Inc, Chennai, India </em></p>
            <ul>
              <li>Hands-on experience in processing multiple License Partner reports, Health Authority reports, and drafting narratives for literature, PMS, clinical trials (including SUSAR), and Spontaneous ICSRs (Individual Case Safety Reports) as per regulatory guidelines.</li>
              <li>Act as subject matter expert and liaise with key partners regarding safety data collection and data reconciliation. </li>
              <li>Review processed cases to verify accuracy, consistency, and compliance with process requirements, and review case data for special scenarios.</li>
              <li>Provide specific pharmacovigilance or product knowledge and experience, as required by the business, and mentor colleagues accordingly</li>
              <li>Review all findings and discuss with team members to prepare RCA and CAPA.</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Medical Services Analyst</h4>
            <h5>01-Jul-2014 to 06-Apr-2018 </h5>
            <p><em>Accenture Services Pvt Ltd, Chennai, India</em></p>
            <ul>
              <li>	Working on ARGUS safety database server for End to End case processing.</li>
              <li>Ensure scientific rigor through accurate, complete, and consistent data entry of adverse event reports from source documents with an emphasis on timeliness and quality.</li>
              <li>Use medical dictionaries and business guidance to code medical history, drugs, and adverse event terms. Prepare narratives summarizing the essential details of the case.</li>
              <li>Assess adverse event reports for seriousness, causality, and expectedness as per the labeling documents CDS, EMEA, Investigator Brochure/Basic Prescribing Information/US package insert.</li>
            </ul>
          </div><!-- Edn Resume Item -->

   
        </div>

      </div>

    </div>
    

  </section><!-- /Resume Section -->
{% endblock body %}
