{% extends "base.html" %}
{% block title %}
Skills
{% endblock title %}

{% block  body%}
 <!-- Skills Section -->
 <section id="skills" class="skills section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
      
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">

          <ul>
            <h3>
              <li>Python</li>
              <li>Data Visualization (matplotlib, plotly, seaborn)</li>
              <li>SQL</li>
              <li>Machine Learning, NLP, Deep Learning,</li>
              <li>Selenium</li>
              <li>TensorFlow</li>
              <li>Django</li>
              <li>Keras</li>
              <li>Scikit learn</li>
            </h3>
          </ul>

        </div>

      </div>
      <img src="/static/asset/img/python1.png" alt="" data-aos="fade-in" class="" style="width: 1400px; height: 400px;">
      

        

    </div>

  </section><!-- /Skills Section -->
{% endblock body %}
